<% if searcher.search.highlighted_facet_values.present? %>
  <dl class='highlighted-facet flex text-14 mt-10'>
    <dt class="includes-label uppercase mr-1 pt-4 leading-none">Results include</dt>
    <dd>
      <ul class="list-none flex p-0">
        <% searcher.search.highlighted_facet_values.each_with_index do |facet, index| %>
          <li class="list-inline-item p-4 leading-none">
            <%= link_to("#{facet.label} (#{number_with_delimiter(facet.hits)})", facet.query_url(params[:q])) %>
          </li>
        <% end %>
      </ul>
    </dd>
  </dl>
<% end %>
