<div class="flex justify-between">
  <h2 class='result-set-heading text-28 mt-5'>
    <%= I18n.t("#{service_name}_search.display_name") %>
  </h2>
  <% if !(defined?(searcher.toggleable?) && searcher.toggleable?) && total != '0' %>
    <div class="see-all-results">
      <%= render '/search/see_all', { service_name:, total:, module_link: searcher.loaded_link } %>
    </div>
  <% end %>
</div>
<div class='result-set-subheading pt-10 pb-10'>
  <%= I18n.t("#{service_name}_search.sub_heading_html") %>
</div>
