<div id="rerank" class="module-contents mb-3" >
  <h2 class="result-set-heading h4 mb-0 fw-semibold text-nowrap">
    Rerank
  </h2>
  <ol class="list-unstyled">
    <% results.each do |result| %>
      <%= render result %>
    <% end %>
  </ol>
</div>
