<div class="flex mb-30">
  <div style="flex-basis: 25%" class="px-10">
    <%= link_to result.link, aria: { hidden: true } do %>
        <%= image_tag result.thumbnail, class: 'thumbnail img-fluid', alt: '' %>
    <% end %>
  </div>
  <div class="px-10">
      <%= render partial: 'result_details', locals: { result: result } %>
  </div>
</div>
