<%= render 'shared/search_form' %>

<div id="result-types" class="row">
  <div class="col result-types">
    <%= render partial: 'layouts/quick_search/found_types' %>
  </div>
</div>
<div class="centered flex justify-between gap-10 flex-wrap mb-30">
  <% Settings.ENABLED_SEARCHERS.each do |searcher| %>
    <article style="flex-basis: calc(50% - 1rem)" class="border border-solid border-black-10 border-t-digital-red border-t-4 p-30 leading-display text-black shadow-md">
      <%= render_module(@searches[searcher], searcher) %>
    </article>
  <% end %>
</div>

<%= render 'shared/more_search_tools' %>
