<div class="mb-10 flex flex-col gap-32 @container">
  <div class="centered flex flex-col justify-between gap-10 *:mx-auto *:w-full md:flex-row md:flex-wrap *:md:w-[calc(50%_-_5rem)] lg:flex-nowrap *:lg:w-[calc(33.3%_-_5rem)]">
      <div class="relative centered mx-auto w-full lg:max-w-[980px]">
        <article aria-labelledby=":Sc:" class="card block w-full border border-solid border-black-10 bg-white leading-display text-black shadow-md">
          <div class="card-body items-start px-24 py-30">
            <h2 class="mb-03em text-24 font-bold tracking-[-0.2px]">
              <%= image_tag 'search.svg', class: 'object-cover object-center', style: "width:30px; float:left; margin-right:1rem", alt: '', role: 'presentation' %>
              <%= link_to 'More search tools', 'https://guides.library.stanford.edu/search-services', class: "hocus:underline transition-colors hover:text-brick-dark hover:bg-black-10 focus:bg-none focus:text-cardinal-red active:text-cardinal-red" %>
            </h2>
            <div>
              <p class=" max-w-[100ch] text-16 sm:text-18 [&amp;_li]:text-16 [&amp;_li]:sm:text-18 text-16 sm:text-18">Tools to help you discover resources at Stanford and beyond.</p>
            </div>
          </div>
        </article>
      </div>
  </div>
</div>
