<div class="mx-auto w-full max-w-500">
  <form action="<%= quick_search_path %>" class="relative flex flex-col gap-xs @xl:flex-row @xl:items-end @3xl:gap-xl">
    <div class="flex-grow">
      <label class="mb-2 text-white" for="«rh»-search">Keyword Search</label>
      <input type="search" class="input w-full p-10 rounded" placeholder="Search" name="q">
    </div>
    <button type="submit" class="rounded-full bg-digital-red p-15 text-16 text-white transition hover:bg-cardinal-red-dark hocus:underline md:text-18">Search</button>
  </form>
</div>
