<nav id="skip-link" role="navigation" aria-label="Skip links">
  <a href="#params-q" class="skip-link element-invisible element-focusable">Skip to search</a>
  <a href="#main-container" class="skip-link element-invisible element-focusable">Skip to main content</a>
</nav>
