.search-helper-text {
  padding-bottom: 20px;
}

.homepage-panels {
  .card {
    border: 1px solid $cloud;
    border-radius: 0;
  }
  .card-body {
    background-color: $white;
    padding: 0;
  }

  h2 {
    margin-bottom: 0;
    margin-top: 0;
    padding: 5px 10px 0;
    font-size: $h3-font-size;
  }

  p {
    padding: 2px 10px;
    margin-bottom: 10px !important;
  }
}

.more-search-tools {
  padding-bottom: 15px;
  padding-top: 25px;
  justify-content: center;

  .card {
    flex-direction: row;
    align-items: flex-start;
  }

  img {
    width: 40px;
    padding: 10px 0 10px 10px;
  }
}

@include media-breakpoint-down(xs) {
  .more-search-tools {
    img {
      width: 20px;
    }
  }
}
