@import url("https://cdn.jsdelivr.net/npm/bootstrap@5.3.7/dist/css/bootstrap.min.css");
@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.0/font/bootstrap-icons.css");
@import url("https://cdn.jsdelivr.net/gh/sul-dlss/component-library@v2025-06-25/styles/sul.css");
@import url("modules/fonts.css");
@import url("modules/masthead.css");
@import url("modules/results.css");

:root {
  --font-family-serif: "Source Serif 4", serif;
  --bs-font-sans-serif: 'Source Sans 3 Local', 'SUL Override', 'Arial Unicode MS', Helvetica, sans-serif;
}

body {
  min-height: 100vh;
}

.container-fluid {
  --container-fluid-padding: 50px;
  width: calc(100% - var(--container-fluid-padding) + var(--bs-gutter-x));
}

@media (min-width: 7682px) {
  .container-fluid {
    --container-fluid-padding: 100px;
  }
}

@media (min-width: 992px) {
  .container-fluid {
    --container-fluid-padding: 160px;
  }
}
@media (min-width: 1200px) {
  .container-fluid {
    --container-fluid-padding: 200px;
  }
}

.fs-1125 {
  font-size: 1.125rem;
}

.mb-125 {
  margin-block-end: 1.25rem;
}

.global-alert {
  border: 1px solid rgb(204, 0, 0);
  margin: 10px auto;
  padding: 10px;
}
